.header-buttons {
  display: flex;
  justify-content: space-evenly; }
  @media (max-width: 1060px) {
    .header-buttons {
      display: none; } }
  .header-buttons .header-buttons-places {
    margin: auto 15px auto 15px; }
    .header-buttons .header-buttons-places a.btns {
      font-family: Montserrat;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF; }

.enter-button {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 30px 5px 30px; }
  @media (max-width: 561px) {
    .enter-button {
      display: none; } }
  .enter-button a.entr {
    font-family: Montserrat;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF; }

.try-button {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  background: #E94A47;
  border-radius: 5px; }
  @media (max-width: 350px) {
    .try-button {
      width: 150px; } }
  .try-button a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none; }

.go-test-button {
  margin-top: 10px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: #E94A47;
  border-radius: 5px; }
  @media (max-width: 350px) {
    .go-test-button {
      margin-bottom: 120px; } }
  .go-test-button a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF; }

.menu {
  max-width: 70px;
  max-height: 70px; }

.menu-button {
  display: flex; }
  @media (min-width: 1060px) {
    .menu-button {
      display: none; } }

body {
  box-sizing: border-box;
  margin: 0; }

*, *:after, *:before {
  box-sizing: inherit; }

.container {
  width: 100%;
  padding: 0 10% 0 10%;
  max-width: 1600px;
  margin: 0 auto; }

.header {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(238.95deg, #23286B 18.43%, rgba(29, 50, 124, 0.984553) 53.52%, rgba(10, 85, 183, 0.93) 111.46%); }
  .header .top-header-part {
    padding: 10px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    @media (max-width: 350px) {
      .header .top-header-part {
        margin-bottom: 70px; } }
    .header .top-header-part .logo {
      display: flex;
      width: 156px;
      height: 70px; }
  .header .main-header-part {
    align-self: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between; }
    .header .main-header-part .txt-part {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .header .main-header-part .txt-part .top-text {
        padding: 3vh 0;
        display: flex;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .header .main-header-part .txt-part .bottom-text {
        padding: 3vh 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        color: #ffffff; }
    @media (max-width: 561px) {
      .header .main-header-part .reading-img {
        display: none; } }
    .header .main-header-part .reading-img .img {
      display: block;
      max-width: 100%;
      margin: 0 auto; }

.main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }

body {
  box-sizing: border-box;
  margin: 0; }

*, *:after, *:before {
  box-sizing: inherit; }

.main {
  display: flex; }
  .main .main-title {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #23286B; }
    @media (max-width: 1060px) {
      .main .main-title {
        font-size: 40px; } }
  .main .text-group {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-between; }
  .main .card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #23286B; }
  .main .card-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 5px;
    color: #D62929;
    border-bottom: 3px solid #23286B; }
  .main .card-text {
    padding-top: 10px; }
  .main .more-link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3E8AF8; }
  .main .first_main {
    margin-top: 30px;
    display: flex;
    flex-direction: column; }
  .main .second_main {
    margin-top: 30px;
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap; }
    .main .second_main .main-reading-image {
      display: flex; }
      @media (max-width: 561px) {
        .main .second_main .main-reading-image {
          display: none; } }
      .main .second_main .main-reading-image .main_reading_img {
        max-width: 516px;
        max-height: 424px;
        width: 100%;
        height: 100%;
        transform: scale(-1, 1); }
    .main .second_main .level-part {
      display: flex;
      align-self: center;
      flex-direction: column; }
      .main .second_main .level-part .level-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: #23286B; }
      .main .second_main .level-part .level-cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; }
      .main .second_main .level-part .level-card {
        display: flex;
        flex-direction: column;
        padding: 10px; }
        .main .second_main .level-part .level-card .level-score {
          display: flex;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 37px;
          color: #8CB6F5; }
        .main .second_main .level-part .level-card .level-name {
          display: flex;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #23286B; }
  .main .third_main {
    margin-top: 30px;
    display: flex;
    flex-direction: column; }
    .main .third_main .img-part {
      display: flex;
      align-self: flex-start; }
      @media (max-width: 561px) {
        .main .third_main .img-part {
          display: none; } }
      .main .third_main .img-part .img-books {
        display: block;
        max-width: 377px;
        margin: 0 auto; }
  .main .fourth_main {
    margin-top: 30px;
    display: flex;
    flex-direction: column; }
    .main .fourth_main .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .main .fourth_main .cards .card {
        display: flex;
        flex-direction: column; }
  .main .fifth_main {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main .fifth_main .title-part {
      display: flex;
      justify-content: space-between; }
    .main .fifth_main .photo-title {
      display: flex;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: #23286B; }
    .main .fifth_main .card-info {
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      max-width: 390px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #23286B; }
    .main .fifth_main .photo {
      display: flex;
      padding: 10px;
      flex-direction: column; }
    .main .fifth_main .photo-part {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    .main .fifth_main .info-link {
      display: flex;
      padding-top: 10px; }
    .main .fifth_main .teacher-photo {
      padding: 10px; }
  .main .sixth_main {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
    flex-wrap: wrap; }
    .main .sixth_main .reg-form {
      display: flex;
      flex-direction: column; }
    .main .sixth_main .form-title {
      display: flex;
      align-items: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #DB7602; }
    .main .sixth_main .form {
      display: flex;
      flex-direction: column;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #23286B;
      max-width: 350px; }
    .main .sixth_main .input-field {
      padding: 10px 0; }
    .main .sixth_main .inp {
      width: 340px;
      font-size: 16px;
      padding: 10px;
      display: block;
      border: none;
      border-bottom: 1px solid #ccc; }
      @media (max-width: 400px) {
        .main .sixth_main .inp {
          width: 250px; } }
      .main .sixth_main .inp:focus {
        outline: none; }
    .main .sixth_main .sixth-main-img {
      display: flex; }
      @media (max-width: 561px) {
        .main .sixth_main .sixth-main-img {
          display: none; } }
      .main .sixth_main .sixth-main-img .desk-img {
        max-width: 650px;
        max-height: 650px;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto; }

body {
  box-sizing: border-box;
  margin: 0; }

*, *:after, *:before {
  box-sizing: inherit; }

.footer {
  display: flex;
  flex-direction: row;
  background: #23286B; }
  .footer .footer-content {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .footer .left-bottom {
    display: flex;
    flex-direction: column; }
  .footer .footer-text {
    display: flex;
    margin: 10px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF; }
  .footer .middle-bottom {
    display: flex;
    flex-direction: column; }
  .footer .right-bottom {
    display: flex;
    flex-direction: column; }
  .footer .social {
    display: flex;
    margin-top: 10px;
    flex-direction: column; }
    .footer .social .social-icons {
      display: flex;
      flex-wrap: wrap; }
    .footer .social .icon-place {
      margin: 5px; }
  .footer .footer-text-TD {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 40px;
    align-self: flex-end; }
