.header-buttons{
    @media (max-width:1060px) {
        display: none;
    }
    display: flex;
    justify-content: space-evenly;
    .header-buttons-places{
        margin: auto 15px auto 15px;
        a.btns{
            font-family: Montserrat;
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
    
        }
    }
}
.enter-button{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
    @media (max-width:561px) {
        display: none;
    }
    a.entr{
        font-family: Montserrat;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
    }
}
.try-button{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    background: #E94A47;
    border-radius: 5px;
    @media (max-width:350px) {
       width: 150px;
    }
    
    a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;

    }
}
.go-test-button{
    margin-top: 10px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background: #E94A47;
    border-radius: 5px;
    @media (max-width:350px) {
        margin-bottom: 120px;
    }
    a{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        text-decoration: none;
        color: #FFFFFF;
    
    }
}
.menu{
    max-width: 70px;
    max-height: 70px;
}
.menu-button{
    display: flex;
    @media (min-width:1060px) {
        display: none;
    }
}
